{% block tommygnr_datatable %}

    {% block tommygnr_datatable_html %}

        <table cellpadding="0" cellspacing="0" border="0" class="{{ theme_tableClasses }}" id="{{ dt_tableId }}" width="100%">
            <thead>
                {% for column in dt_columns %}
                    {% if column.filterable %}
                        <th
                            data-filter-target="{{ loop.index0 }}"
                            {% if column.filterSeeded %}
                                data-filter-property="{{ column.property }}"
                            {% else %}
                                data-filter-type="text"
                            {% endif %}

                            {% if column.getTrueLabel is defined %}
                                data-filter-label-true="{{ column.getTrueLabel }}"
                            {% endif %}
                            {% if column.getFalseLabel is defined %}
                                data-filter-label-false="{{ column.getFalseLabel }}"
                            {% endif %}
                        ></th>
                    {% else %}
                        <th></th>
                    {% endif %}
                {% endfor %}
            </thead>
            <tbody>
            </tbody>
        </table>

    {% endblock %}

    {% block tommygnr_datatable_js %}

        <script type="application/json" id="datatable-config">
        {
            "datatables": {
                "processing": {{ dt_processing ? 'true' : 'false' }},
                "serverSide": {{ dt_serverSide ? 'true' : 'false' }},
                "ajax": "{{ dt_ajaxSource }}",
                "data": {{ dt_data is defined ? dt_data|raw : 'false' }},
                "paginationType": "{{ theme_pagination }}",
                "dom": {{ theme_dom ? ('"' ~ theme_dom ~ '"')|raw : 'false'}},
                "displayLength": {{ dt_displayLength }},
                "jQueryUI": {{ theme_jqueryUi ? 'true' : 'false' }},
                "order": [{% for col, order in dt_defaultOrder %}[ {{col}}, "{{order}}" ]{% if not loop.last %},{% endif %}{% endfor %}],
                "stateSave": {{ dt_stateSaving ? 'true' : 'false' }},
                "stateDuration": {{ dt_stateDuration is defined ? dt_stateDuration : 'false' }},
                "searchCols": [{% for col, search in dt_defaultColumnSearches %}{% if search %}{ "search": "{{search|raw}}"}{% else %}null{% endif %}{% if not loop.last %},{% endif %}{% endfor %}],
                "language": {
                    "processing": "{{ 'datatables.datatable.processing'|trans({}, 'messages') }}",
                    "lengthMenu": "{{ 'datatables.datatable.lengthMenu'|trans({}, 'messages') }}",
                    "zeroRecords": "{{ 'datatables.datatable.zeroRecords'|trans({}, 'messages') }}",
                    "info": "{{ 'datatables.datatable.info'|trans({}, 'messages') }}",
                    "infoEmpty": "{{ 'datatables.datatable.infoEmpty'|trans({}, 'messages') }}",
                    "infoFiltered": "{{ 'datatables.datatable.infoFiltered'|trans({}, 'messages') }}",
                    "infoPostFix": "{{ 'datatables.datatable.infoPostFix'|trans({}, 'messages') }}",
                    "search": "{{ 'datatables.datatable.search'|trans({}, 'messages') }}",
                    "url": "",
                    "paginate": {
                        "first": "{{ 'datatables.datatable.first'|trans({}, 'messages') }}",
                        "previous": "{{ 'datatables.datatable.previous'|trans({}, 'messages') }}",
                        "next": "{{ 'datatables.datatable.next'|trans({}, 'messages') }}",
                        "last": "{{ 'datatables.datatable.last'|trans({}, 'messages') }}"
                    }
                }
            },
            "moment_locale": "{{ moment_locale is defined ? moment_locale : app.request.locale }}",
            "columns": {{ dt_columns|json_encode|raw }},
            "clearExistingState": {{ dt_clearExistingState ? 'true' : 'false' }},
            "clearStateEnabled": {{ dt_clearStateEnabled ? 'true' : 'false' }},
            "tableId": "{{ dt_tableId }}"
        }
        </script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="{{ asset('build/datatable.js') }}"></script>
    {% endblock %}

    {% block tommygnr_datatable_render_functions %}


    {% endblock %}

{% endblock  %}
