{% extends 'TommyGNRDatatablesBundle:Column:column.html.twig' %}

{% block data %}
    "data": "{{ column.data }}",
    "render": function(data, type, full) {
        var routeParameters  = new Array();
        var attributes = "";

        {% for key, value in column.routeParameters %}
            {# for association links, check the parent element exists in the data #}
            {% if '.' in value %}
                {% set parent = value|split('.')|first %}
                if (!full.{{ parent }}) {
                    return '';
                }
            {% endif %}
            routeParameters["{{ key }}"] = full.{{ value }};
        {% endfor %}
        {% for key, value in column.routeStaticParameters %}
            routeParameters["{{ key }}"] = "{{ value }}";
        {% endfor %}

        var route  = Routing.generate("{{ column.route }}", routeParameters);

        {% for key, value in column.attributes %}
            attributes += '{{ key }}="{{ value }}" ';
        {% endfor %}

        var url  = "<a ";
        url += 'href="' + route + '" ';
        url += attributes + ">";

        url += data;

        url += "</a>";

        return url;
    },
{% endblock %}
